body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
    font-family: arial, sans-serif;
}

#main, #chats {
    width: 500px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 20px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

.h1-wrapper {
    background-color: #419FF2;    
    height: 50px;
    color: wnite;
    padding: 50px 60px;
    width: 500px;
    margin: auto;
}

h1 {
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px;
    color: white;
}

#main h1 span {
    font-style:italic;
}
#main h2{
    display: inline-block;
    margin-right: 10px;


}

h3{
    padding: 0;
    margin: 0;
}

h4{
    padding: 0;
    margin: 5px;
    font-size: 14px;
}
.messenger-form{
    display: block;
}


#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 10px;
    padding-left: 0;
    margin-bottom: 20px;
}

#add-room input[type=text]{
    padding: 6px;
    border-radius: 3px;
    border: 1px solid rgb(190, 190, 190);
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 10px;
    border: 1px solid #419FF2;
    border-radius: 7px;
}

input[type=submit]{
    background-color: #419FF2;
    border: none;
    padding: 7px 12px;
    color: white;
    border-radius: 3px;
}


.message-body{
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #419FF2;
    border-radius: 5px;
}

.message-body-friend{
    color: white;
    padding: 5px;
    margin-bottom: 10px;
    background-color:#419FF2;
    border-radius: 5px;
}

.username {
    font-weight: 600;
    cursor: pointer;
}

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}





#room-selector{
    height: 30px !important;
    width: 100px;
}

#add-room {
    display: inline-block;
    margin-left: 10px;
}

#add-room-input{
    width: 100px !important;
}

input #add-room-button{
    display: inline-block;
}

#friend-list{
    min-height: 75px;
    border: 1px solid rgb(211, 211, 211);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.friend {
    color: white;
    background-color: #419FF2;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 25px;
    margin-right: 5px;
    cursor: pointer;
}